{
    "{{ date|date:"Y.m.d" }}": [
        {% for schedules in day_schedules.values %}
            {% for s in schedules %}
                {
                    "summary": "{{ s.summary }}", 
                    "description": "{{ s.description }}",
                    "start_time": "{{ s.start_time|date:"G:i" }}",
                    "end_time": "{{ s.end_time|date:"G:i" }}",
                    "room": "{{ s.room }}"
                }
                {% if s != last %}
                    ,
                {% endif %}
            {% endfor %}
        {% endfor %}
    ]
}